<section class="container-second fan-art">
    <h2 class="storm-title">Community Fan Art Gallery</h2>
    <p class="storm-item p-fan">Join the creative community of Fading Storm Puzzle!</p>
    <div class="fan-art-steps steps-fan">

        <div class="step-fan step-gap-first">
            <div class="number">1</div>
            <p class="fan-item">Be a part of the growing fanbase and share your stormy masterpiece!</p>
        </div>
        <div class="step-fan step-gap-second">
            <div class="number">2</div>
            <p class="fan-item">Browse stunning fan art inspired by the game's stormy aesthetic.</p>
        </div>
        <div class="step-fan step-gap-third">
            <div class="number">3</div>
            <p class="ppp fan-item">Showcase your own artwork and get featured on our page.</p>
        </div>
        <div class="step-fan step-gap-forth">
            <div class="number">4</div>
            <p class="fan-item">Celebrate the artistic talent of fellow players!</p>
        </div>

    </div>
    <div class="storm-image-green">
        <img src="img/bluebrick-m.png" alt="Blue Tetris Block" class="blue-brick-storm" />
    </div>
</section>