<section class="container-second leaderboard">

    <h2 class="fan-title">Compete in real-time and rise to the top!</h2>
    <div class="leaderboard-cards">
        <div class="card">
            <p class="storm-item p-leader"> Global leaderboards track top puzzle solvers.</p>
        </div>
        <div class="card">
            <p class="storm-item p-leader">Rank up by achieving high scores in rush mode!</p>
        </div>
        <div class="card">
            <p class="storm-item p-leader">Exclusive rewards for leaderboard champions.</p>
        </div>

    </div>
    <div class="leaderboard-wrapper">
        <img src="img/yellowbrick-m.png" alt="Yellow Tetris Block" class="yellow-brick-storm-mob" />

    </div>
</section>