<section id="quests" class="quests container-second">
  <h2 class="quests-title">Quests & Achievements</h2>
  <p class="quests-item p-quests-first">
    Complete thrilling quests and unlock exclusive rewards.
  </p>
  <p class="quests-item p-quests-first">
    Earn unique achievements for mastering advanced puzzle techniques.
  </p>
  <p class="quests-item">
    Keep progressing and claim your storm puzzle reward!
  </p>
  <div class="quests-image">
    <img
      src="img/greenbrick-d.png"
      alt="Green Tetris Block"
      class="green-brick-quests"
    />
  </div>
</section>
