<section class="container-second quests">
    <h2 class="storm-title">Quests & Achievements</h2>
    <p class="storm-item p-quests-first">Complete thrilling quests and unlock exclusive rewards.</p>
    <p class="storm-item p-quests-first">Earn unique achievements for mastering advanced puzzle techniques.</p>
    <p class="storm-item">Keep progressing and claim your storm puzzle reward!</p>
    <div class="quests-image">
        <img src="img/greenbrick-d.png" alt="Green Tetris Block" class="green-brick-storm" />
    </div>
</section>