<section id="game-map" class="container-second storm">
  <div>
    <h2 class="storm-title">The storm is unpredictable—explore wisely!</h2>
    <p class="storm-item p-storm-first">
      Navigate through the stormy puzzle world with our interactive map!
    </p>
    <p class="storm-item">
      Unlock new stormy regions and challenges as you progress.
    </p>
    <p class="storm-item">
      Discover secret routes that lead to special rewards!
    </p>
  </div>
  <div class="storm-image-yellow">
    <img
      src="img/yellowbrick-d.png"
      alt="Yellow Tetris Block"
      class="yellow-brick-storm"
    />
  </div>
  <div class="storm-image-green">
    <img
      src="img/greenbrick-m.png"
      alt="Yellow Tetris Block"
      class="yellow-brick-storm"
    />
  </div>
</section>
