<section id="character-spotlight" class="swiper-section">
  <h2 class="swiper-section__title">
    Meet the legendary figures of Fading Storm! Bringer
  </h2>

  <div class="swiper-wrapper-container">
    <div class="swiper-container">
      <div class="swiper character-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide character-slide">
            <div class="character-card">
              <div class="character-card__image">
                <img
                  src="img/blueimage.png"
                  alt="Cyclone Master - character from Fading Storm game"
                  class="character-card__img"
                />
                <div class="character-card__navigation">
                  <button
                    class="character-card__nav-btn character-card__nav-btn--prev"
                  >
                    <img
                      src="img/arrow-left.png"
                      alt="Previous"
                      class="character-card__nav-icon character-card__nav-icon--prev"
                    />
                  </button>
                  <button
                    class="character-card__nav-btn character-card__nav-btn--next"
                  >
                    <img
                      src="img/arrow-left.png"
                      alt="Next"
                      class="character-card__nav-icon character-card__nav-icon--next"
                    />
                  </button>
                </div>
              </div>
              <div class="character-card__content">
                <h3 class="character-card__title">Cyclone Master</h3>
                <p class="character-card__description">
                  Master of rotation and strategy. Can you outsmart the storm?
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide character-slide">
            <div class="character-card">
              <div class="character-card__image">
                <img
                  src="img/purpleimg.png"
                  alt="Storm Bringer - character from Fading Storm game"
                  class="character-card__img"
                />
                <div class="character-card__navigation">
                  <button
                    class="character-card__nav-btn character-card__nav-btn--prev"
                  >
                    <img
                      src="img/arrow-left.png"
                      alt="Previous"
                      class="character-card__nav-icon character-card__nav-icon--prev"
                    />
                  </button>
                  <button
                    class="character-card__nav-btn character-card__nav-btn--next"
                  >
                    <img
                      src="img/arrow-left.png"
                      alt="Next"
                      class="character-card__nav-icon character-card__nav-icon--next"
                    />
                  </button>
                </div>
              </div>
              <div class="character-card__content">
                <h3 class="character-card__title">Storm Bringer</h3>
                <p class="character-card__description">
                  The keeper of the puzzle storm. Solve his challenges to
                  advance!
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide character-slide">
            <div class="character-card">
              <div class="character-card__image">
                <img
                  src="img/yellowimg.png"
                  alt="Puzzle Sage - character from Fading Storm game"
                  class="character-card__img"
                />
                <div class="character-card__navigation">
                  <button
                    class="character-card__nav-btn character-card__nav-btn--prev"
                  >
                    <img
                      src="img/arrow-left.png"
                      alt="Previous"
                      class="character-card__nav-icon character-card__nav-icon--prev"
                    />
                  </button>
                  <button
                    class="character-card__nav-btn character-card__nav-btn--next"
                  >
                    <img
                      src="img/arrow-left.png"
                      alt="Next"
                      class="character-card__nav-icon character-card__nav-icon--next"
                    />
                  </button>
                </div>
              </div>
              <div class="character-card__content">
                <h3 class="character-card__title">Puzzle Sage</h3>
                <p class="character-card__description">
                  The wise mentor who offers hidden hints and boosts.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
