<section class="welcome">
  <img
    src="img/yellowbrick-m.png"
    alt="Yellow Tetris Block"
    class="yellow-brick"
  />
  <div class="container">
    <div class="welcome-image">
      <img
        src="img/bluebrick-d.png"
        alt="Blue Tetris Block"
        class="blue-brick"
      />
    </div>
    <h2>Welcome to Fading Storm Puzzle</h2>
    <div class="welcome-steps">
      <div class="step">
        <p>
          Welcome to Fading Storm Puzzle: Rush Game, a fast-paced and addictive
          block-smashing adventure! Prepare for an intense brain-training
          journey in this puzzle-solving challenge.
        </p>
      </div>
      <div class="step">
        <p>
          Strategically place and rotate blocks to clear rows and score high.<br />
          Experience the thrill of stormy puzzle action with a fresh, engaging
          twist.
        </p>
      </div>
    </div>
  </div>
</section>
