.cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);

  &--hidden {
    opacity: 0;
    transform: translateY(100%);
  }

  &__content {
    background-color: rgba(40, 52, 93, 1);
    padding: 30px 20px;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 400px;

    @media (min-width: 768px) {
      padding: 40px;
    }
    @media (max-width: 451px) {
      border-radius: 10px 10px 0 0;
      height: 307px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    font-family: 'Braah One', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.55em;
    color: var(--white);
    margin-bottom: 0;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 40px;
      text-align: center;
    }
    @media (max-width: 451px) {
      text-align: center;
      font-size: 20px;
    }
  }

  &__description {
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    color: var(--white);
    text-align: center;
    @media (min-width: 768px) {
      font-size: 18px;
      text-align: center;
    }
    @media (max-width: 451px) {
      font-size: 13px;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin-top: auto;
    @media (max-width: 451px) {
      flex-direction: row-reverse;
      margin-top: 40px;
    }
  }

  &__button {
    padding: 14px 20px;
    border-radius: 15px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 411px;
    height: 76px;
    margin: 0 auto;

    @media (min-width: 768px) {
      font-size: 18px;
      padding: 14px 37px;
    }
    @media screen and (max-width: 451px) {
      border-radius: 10px;
      padding: 0px;
      font-weight: 400;
      font-size: 13px;
      width: 166px;
      height: 49px;
    }

    &:hover {
      box-shadow: 0 0 6px 0 #fff;
    }

    &:focus {
      outline: none;
    }

    &--accept {
      background-color: var(--yellow);
      color: var(--header-footer);

      &:hover,
      &:focus {
        background-color: darken(#ffa02c, 5%);
      }
    }

    &--decline {
      background-color: transparent;
      color: var(--white);
      border: 1px solid var(--yellow);

      &:active {
        color: var(--yellow);
        border-color: #eaeaea;
      }
    }
  }
}
