.fan-art-steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background-color: #262a57;
  padding: 50px;
}

.step {
  display: flex;
  text-align: left;
  width: 446px;
  height: 68px;

  background: #262a57;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 0;
  border-radius: 10px;
  align-items: center;
}

.number {
  font-family: 'Braah One', sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 0.64583;
  color: #28345d;
  flex-shrink: 0;
}
.ppp {
  margin: 0;
  line-height: 1.4;
  word-break: break-word;
}

.step-gap-first {
  gap: 56px;
}
.step-gap-second {
  gap: 40px;
}
.step-gap-third {
  gap: 40px;
}
.step-gap-forth {
  gap: 40px;
}
